<template>
  <div class="chart" @click="showFullScreen" :class="{fullScreen: full}">
    
  </div>
</template>

<script>
export default {
  name: 'chart',
  data () {
    return {
      full: false,
    }
  },
  methods: {
    showFullScreen() {
      this.full = !this.full
    }
  }
}
</script>

<style scoped>
  div {
    position: absolute;
    flex: 1 0 100%;
    height: 50%;
    width: 100%;
    z-index: 3;
    background: url(../assets/chart.png);
    background-size: cover;
    background-position: top right;
    border-top: 2px solid black;
    transition: .2s all ease-in-out;
  }
  .fullScreen {
    height: 100%;
  }
</style>