<template>
  <div class="controls">
      <button type="reset">Profile</button>
      <button class="main" type="reset"></button>
      
      <button type="reset">Support</button>
  </div>
</template>

<script>
export default {
  name: 'Controls',
  data () {
    return {

    }
  }
}
</script>

<style scoped>
    div {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        background: rgba(15, 25, 35);
    }
    button {
        margin: .5rem 1rem;
        color: turquoise;
        border: 2px solid turquoise;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: rgba(15, 25, 35);
        outline: none;
        font-size: .8rem;
    }
    .main {
        background: url(../assets/logo-circle.svg);
        background-position: center;
        background-size: contain;
        height: 60px;
        width: 60px;
    }
</style>
