<template>
    <div>
        <span>{{ orders.buy }}</span>
        <span>{{ orders.sell }}</span>
    </div>
</template>

<script>
export default {
  name: 'datafeed',
  data () {
    return {
      market: 'ETH/BTC',
      full: false,
      ordersVisible: 6,
      orders: {
        sell: [],
        buy: [],
      }
    }
  },
  echoEvents: {
    random (data) {
      console.log(data)
    }
  },
  methods: {
    showFullScreen() {
      this.full = !this.full
      this.ordersVisible = this.ordersVisible === 6 ? 12 : 6
    },
  },
  computed: {
  },
  created() {
    const config = {
        socket: {
            hostname: 'offertable.coindeal.com',
            port: '',
            secure: true
        },
        market: {
          baseCurrency: 'DOGE',
          quoteCurrency: 'XRP'
      },
    };
    
    const socket = socketCluster.connect(config.socket)

    socket.on('connect', () => {
      socket.emit('init-aggregated-offers', config.market, (errCode, response) => {
          if (errCode) {
          } else {
            response.map(side => {
              this.orders[side.type] = side.aggregatedOffers
                .filter(o => Number(o.amount).toFixed(8) > 0)
            })  
          }
      });
      socket.subscribe('aggregated-offer')
        .watch((order) => {
          if (order.baseCurrency === config.market.baseCurrency 
            && order.baseCurrency === config.market.baseCurrency
            && Number(o.amount).toFixed(8) > 0) {

              this.orders[order.type].push(order)
            }
        });
    });

  },
  destroyed() {

  }
}
</script>