<template>
  <ul @click="showFullScreen" :class="{fullScreen: full}" >
    <li v-for="(order, ix) in orders.sell.sort((a, b) => a.unitPrice - b.unitPrice).slice(0, ordersVisible)" :key="ix+100">
      <span class="sell">{{ parseFloat(order.unitPrice).toFixed(8) }}</span>
      <span class="amount">{{ parseFloat(order.amount).toFixed(2) }}</span>
      <span>{{ order.aggregationTime }}</span>
    </li>
    <li class="marketPrice">
      <span>8888.00</span><span class="amount">7.408</span><span>12:55:35</span>
    </li>
    <li v-for="(order, ix) in orders.buy.sort((a, b) => b.unitPrice - a.unitPrice).slice(0, ordersVisible)" :key="ix">
      <span class="buy">{{ parseFloat(order.unitPrice).toFixed(8) }}</span>
      <span class="amount">{{ parseFloat(order.amount).toFixed(2) }}</span>
      <span>{{ order.aggregationTime }}</span>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'datafeed',
  data () {
    return {
      market: 'ETH/BTC',
      full: false,
      ordersVisible: 6,
      orders: {
        sell: [],
        buy: [],
      }
    }
  },
  echoEvents: {
    random (data) {
      console.log(data)
    }
  },
  methods: {
    showFullScreen() {
      this.full = !this.full
      this.ordersVisible = this.ordersVisible === 6 ? 12 : 6
    },
  },
  computed: {
  },
  created() {
    const config = {
        socket: {
            hostname: 'offertable.coindeal.com',
            port: '',
            secure: true
        },
        market: {
          baseCurrency: 'DOGE',
          quoteCurrency: 'XRP'
      },
    };
    
    const socket = socketCluster.connect(config.socket)

    socket.on('connect', () => {
      socket.emit('init-aggregated-offers', config.market, (errCode, response) => {
          if (errCode) {
          } else {
            response.map(side => {
              this.orders[side.type] = side.aggregatedOffers
                .filter(o => Number(o.amount).toFixed(8) > 0)
            })  
          }
      });
      socket.subscribe('aggregated-offer')
        .watch((order) => {
          if (order.baseCurrency === config.market.baseCurrency 
            && order.baseCurrency === config.market.baseCurrency
            && Number(o.amount).toFixed(8) > 0) {

              this.orders[order.type].push(order)
            }
        });
    });

  },
  destroyed() {

  }
}
</script>

<style scoped>
  ul {
    position: absolute;
    top: 0;
    padding: .4rem;
    /* border: 4px solid blueviolet; */
    flex: 1 1 50%;
    height: 50%;
    width: 100%;
    z-index: 4;
    background-color: rgb(15, 25, 35);
    transition: all .2s ease-in-out;
    overflow: hidden;
  }
    
  li {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 12px;
  }
  .amount {
    width: 6rem;
    text-align: right;
    color: white;

  }
  .buy, .sell {
    text-align: left;
  }
  .buy {
    color: green
  }
  .sell {
    color: red
  }
  .marketPrice {
    border: 1px solid gray;
    padding: .5rem;
    margin: .5rem .6rem;
    font-weight: bold;
  }
  .fullScreen {

    height: 100%;
  }
</style>