<template>
    <input class="amountField" type="text" value="1.20001000">
</template>

<style scoped>
    .amountField {
        width: 10rem;
        height: 2rem;
        text-align: right;
        padding: 0 .5rem;
        margin: 0 0 .4rem .1rem;
        background: rgba(100, 255, 230, .5);
        border: 1px solid rgba(5, 10, 15, 1);
    }
</style>
