<template>
  <div class="deal">
    <div class="info-amount-container">
      <deal-info/>
      <deal-amount/>
    </div>
    <deal-slider/>
  </div>
</template>

<script>
import DealSlider from "./DealSlider"
import DealInfo from "./DealInfo"
import DealAmount from "./DealAmount"
export default {
  name: "deal",
  components: {
      DealSlider, DealAmount, DealInfo
  },
  data() {
    return {};
  }
};
</script>

<style scoped>
.deal {
    position: relative;
    display: flex;
    padding: 0 10%;
    /* border: 1px solid red; */
    justify-content: space-between;
}

</style>
