<template>
   <div class="info">
       <span class="big">ETH/BTC</span>
       
        <span>85877567.08437845</span><span class="currency">ETH</span>
        <span>85877567.08437845</span><span class="currency">BTC</span>
    </div> 
</template>

<style scoped>
    .info {

    }
    span {
        color: white;
        font-size: .8rem;
    }
    .currency {
        margin-left: .5rem;
        font-weight: bold;
    }
    .big {
        position: relative;
        top: -2rem;
        font-size: 1.5rem;
    }
</style>
