<template>
  <input class="amountSlider" type="range" id="myRange" min="0" max="100" value="0" step="10">
</template>

<style scoped>
.amountSlider {
  position: absolute;
  width: 10rem;
  padding-right: 1rem;
  transform-origin: bottom center;
  transform: rotate(-90deg) scale(1.2);
  position: relative;
  left: -2.5%;
  -webkit-appearance: none;
  height: 2px;
  background: rgb(100, 255, 230);
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.amountSlider:hover {
  opacity: 1;
}

.amountSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgba(100, 255, 230, 0.9);
  cursor: pointer;
}

.amountSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(100, 255, 230);
  cursor: pointer;
}
</style>
