<template>
  <div class="infobar" @click="handle">
    <transition name="fade" mode="out-in">
      <span :key="'wolves'" class="ad wolves" v-if="campaigns[active] === 'wolves'">
        Wolves are running!!!
      </span>
      <span :key="'coindeal'" class="ad coindeal" v-if="campaigns[active] === 'coindeal'">
        Super duper offer right now!!!
      </span>
      <span :key="'third'" class="ad third" v-if="campaigns[active] === 'third'">
        So good. Right here, right now!!!
      </span>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'InfoBar',
  data () {
    return {
      campaigns: ['wolves', 'coindeal', 'third'],
      active: 0
    }
  },
  methods: {
    handle() {
      window.location = 'https://coindeal.com/registration'
    }
  },
  mounted() {
    setInterval(() => {
      this.active = this.active === (this.campaigns.length -1) ? 0 : this.active + 1
    }, 3000)
  }
}
</script>

<style scoped>
    div {
      flex: 0 0 2rem;
      border-bottom: 1px solid turquoise;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      background: rgba(15, 25, 35);
      color: white;
    }
    span {
      font-weight: bold;
    }
    .wolves {
      color: orange;
    }
    .coindeal {
      color: turquoise;
    }
    .third {
      color: rgb(255, 121, 121);
    }
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
      opacity: 0;
    }
</style>
