<template>
  <div class="market">
      <div class="marketPair" v-for="(pair, ix) in marketList" :key="ix">
          <div class="coins">
                <span class="coin">
                    {{ pair.baseCurrency }}
                </span>
                <span class="coin">
                    {{ pair.quoteCurrency }}
                </span>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'market',
  data () {
    return {
        marketList: []
    }
  },
  beforeMount() {
      fetch('https://currency-list.coindeal.com')
        .then(x => x.json())
        .then(x => this.marketList = x.items.filter(x => x.enabled))
  }
}
</script>

<style scoped>
.market {
    /* border: 1px solid white; */
    flex: 1 0 auto;
    padding: .2rem;
    color: white;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-y: scroll;
}
.marketPair {
    flex: 0 0 auto;
    font-size: .8rem;
    /* border-left: 1px solid turquoise; */
    border-right: 1px solid turquoise;
    display: flex;
    margin: .5rem 0;
    flex-flow: column;
}
.coins {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.coin {
    margin: .1rem .2rem;
    color: turquoise;
}
</style>
