<template>
  <div class="tradingcontrols"
    :class="{open: state}">
    
      <Market></Market>
      <Deal/>
  </div>
</template>

<script>
import Market from './Market'
import Deal from './Deal'
export default {
  name: "TradingControls",
  components: {
    Market, Deal
  },
  props: {
    state: Boolean
  },
  data() {
    return {};
  }
};
</script>

<style scoped>
.tradingcontrols {
  position: absolute;
  border-top: 1px solid turquoise;
  height: 0;
  width: 100%;
  z-index: 5;
  transition: all .2s ease-in-out;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}
.open {
    height: 50%;
    background-color: rgba(15, 25, 35, .8);
    /* -webkit-box-shadow: inset 2px -2px 7px 2px rgba(0,250,238,1); */
    /* -moz-box-shadow: inset 2px -2px 7px 2px rgba(0,250,238,1); */
    box-shadow: inset 0px 5px 8px -4px rgba(0,250,238,1);
}
</style>
