<template>
  <div class="trader">
    <data-feed/>
    <chart/>
    <trading-controls
      :state="panelState.tradingControlsOpen"
    />
  </div>
</template>

<script>
import TradingControls from "./TradingControls.vue";
import Chart from "./Chart.vue";
import DataFeed from "./DataFeed.vue";

export default {
  name: 'Trader',
  components: {
    TradingControls, Chart, DataFeed,
  },
  props: {
    panelState: Object,
  },
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  div {
    /* border: 4px solid red; */
    position: relative;
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: flex-end;
  }

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}
</style>
