<template>
  <div id="app">
    <main>
      <InfoBar/>
      <trader
        :panelState="panelState"
      ></trader>
      <controls @click.native="panelState.tradingControlsOpen = !panelState.tradingControlsOpen"></controls>
      <!-- <DataHub/> -->
    </main>
  </div>
</template>

<script>
import InfoBar from './components/InfoBar'
import Trader from './components/Trader'
import Controls from './components/Controls'
import DataHub from './components/DataHub'
export default {
  name: 'app',
  components: {
    Trader, Controls, InfoBar, DataHub
  },
  data() {
    return {
      panelState: {
        tradingControlsOpen: false,
      }
    }
  },
  methods: {

  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  max-width: 480px;
  /* border: 4px solid blue */
}

main {
  flex: 1 0 100%;
  height: 100%;
  text-align: center;
  /* border: 4px solid orange; */
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

header {
  flex: 1 1 100%;
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495E;
  color: #ffffff;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}
</style>
